<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>personalV2</display-name>
  <filter>
    <filter-name>filtroTalentoHumano</filter-name>
    <filter-class>co.edu.usco.modulo.personal.mvc.control.frontal.filtroTalentoHumano</filter-class>
  </filter>
  <servlet>
    <display-name>servicio</display-name>
    <servlet-name>servicio</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.Server</servlet-class>
  </servlet>
  <servlet>
    <display-name>descargaServlet</display-name>
    <servlet-name>descargaServlet</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.descargaServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>reporteUsco</display-name>
    <servlet-name>reporteUsco</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.ReporteUscoServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>SubirArchivo</display-name>
    <servlet-name>SubirArchivo</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.SubirArchivo</servlet-class>
  </servlet>
  <servlet>
    <display-name>autenticacion</display-name>
    <servlet-name>autenticacion</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.AutenticacionServer</servlet-class>
  </servlet>
  <servlet>
    <display-name>adminAutenticacion</display-name>
    <servlet-name>adminAutenticacion</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.AutenticacionAdminServer</servlet-class>
  </servlet>
  <servlet>
    <display-name>vinculacion</display-name>
    <servlet-name>vinculacion</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.ServerVinculacion</servlet-class>
  </servlet>
  <servlet>
    <display-name>produccionIntelectual</display-name>
    <servlet-name>produccionIntelectual</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.ServerProduccionIntelectual</servlet-class>
  </servlet>
  <servlet>
    <display-name>municipio</display-name>
    <servlet-name>municipio</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.MunicipioServer</servlet-class>
  </servlet>
  <servlet>
    <icon>
      <small-icon>/temas/imagen/avatar-1-md.jpg</small-icon>
    </icon>
    <servlet-name>reporte</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.Reporte</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>caa</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.ServerCarreraAdministrativa</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pension</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.ServerPensionado</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>novedad</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.novedadesDocente.ServerNovedadDocente</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>reporteNovedad</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.novedadesDocente.ServerReporte</servlet-class>
  </servlet>
  <servlet>
    <display-name>foto</display-name>
    <servlet-name>foto</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.frontal.FotoServer</servlet-class>
  </servlet>
  <servlet>
    <display-name>upLoad</display-name>
    <servlet-name>upLoad</servlet-name>
    <servlet-class>co.edu.usco.modulo.personal.mvc.control.herramientas.LoadFile</servlet-class>
  </servlet>
  <filter-mapping>
    <filter-name>filtroTalentoHumano</filter-name>
    <url-pattern>/filtroTalentoHumano</url-pattern>
  </filter-mapping>
  <servlet-mapping>
    <servlet-name>descargaServlet</servlet-name>
    <url-pattern>/descargaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reporteUsco</servlet-name>
    <url-pattern>/reporteUsco</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servicio</servlet-name>
    <url-pattern>/servicio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirArchivo</servlet-name>
    <url-pattern>/SubirArchivo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>autenticacion</servlet-name>
    <url-pattern>/autenticacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminAutenticacion</servlet-name>
    <url-pattern>/adminAutenticacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>vinculacion</servlet-name>
    <url-pattern>/vinculacion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>produccionIntelectual</servlet-name>
    <url-pattern>/produccionIntelectual</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>municipio</servlet-name>
    <url-pattern>/municipio</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reporte</servlet-name>
    <url-pattern>/reporte</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>caa</servlet-name>
    <url-pattern>/caa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pension</servlet-name>
    <url-pattern>/pension</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>novedad</servlet-name>
    <url-pattern>/novedad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>reporteNovedad</servlet-name>
    <url-pattern>/reporteNovedad</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>foto</servlet-name>
    <url-pattern>/foto</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>upLoad</servlet-name>
    <url-pattern>/upLoad</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>User Authentication Policy</web-resource-name>
      <url-pattern>/pages/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>CARRERA_ADTIVA_ADMIN</role-name>
      <role-name>USUARIO_SIPPA_PERSONAL</role-name>
      <role-name>PENSIONADO_ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Administrator Authentication Policy</web-resource-name>
      <url-pattern>/pages/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>PENSIONADO_ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Administrator Authentication Policy</web-resource-name>
      <url-pattern>/pages/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ADMON_PROGRAMACION_ACADEMICA</role-name>
      <role-name>SECRETARIA</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Administrator Authentication personal</web-resource-name>
      <url-pattern>/pages/*</url-pattern>
      <http-method>POST</http-method>
      <http-method>GET</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>PERSONAL_ADMON</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <realm-name>Form-Based Authentication Area</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/loginError.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description>Administrador novedadesr</description>
    <role-name>ADMON_PROGRAMACION_ACADEMICA</role-name>
  </security-role>
  <security-role>
    <description>Final User</description>
    <role-name>SECRETARIA</role-name>
  </security-role>
  <security-role>
    <description>Administrator  User</description>
    <role-name>CARRERA_ADTIVA_ADMIN</role-name>
  </security-role>
  <security-role>
    <description>Final User</description>
    <role-name>USUARIO_SIPPA_PERSONAL</role-name>
  </security-role>
  <security-role>
    <description>Final User</description>
    <role-name>PENSIONADO_ADMIN</role-name>
  </security-role>
  <security-role>
    <description>User PERSONAL</description>
    <role-name>PERSONAL_ADMON</role-name>
  </security-role>
</web-app>