<?xml version="1.0" encoding="UTF-8"?>
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
   <!-- A time/date based rolling appender 
   <appender name="FILE" class="org.apache.log4j.FileAppender">-->
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
      <param name="MaxFileSize" value="4000KB" />
      <param name="MaxBackupIndex" value="3" />
      <param name="File" value="${jboss.server.log.dir}/talento_humano.log"/>
      <!-- <param name="File" value="${jboss.server.log.dir}/hoja_vida.log"/> -->
<!--       <param name="File" value="${jboss.server.log.dir}/novedades.log"/> -->
<!-- 		<param name="File" value="${jboss.server.log.dir}/pensionado.log"/> -->
      <param name="Append" value="true"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern"  value="%5p [%d] [%t] (%F:%L) - %m%n"/>
      </layout>
   </appender>

   <root >
       <priority value="INFO" />
      <appender-ref ref="FILE"/>
   </root>

</log4j:configuration>